{% extends "base.html" %}
{% load company_filters %}
{% load custom_tags %}


{% block body %}

  <div class="container">
    <div class="text-left">
     <h2 class="text-primary">
      ＬｉｓｔＶｉｅｗページ
     </h2>
    </div>

    <form method="get" action="" name="filter_form">
      <legend>表示条件</legend>
      <div>
        <span>company_ID</span>
        <input type="search" id="filter_name"
                name="company_ID" 
                value={{ request.GET| company_ID }}>
      </div>
      <button id="filter">表示</button>
    </form>
    

    <div class="text-left">
          {% for obj in object_list %}
            <div class="row">
              <div class="col-12 col-sm-8 col-md-4 col-lg-4" >{{ obj.title }} </div>
              <div class="col-12 col-sm-8 col-md-4 col-lg-4" >{{ obj.company_ID.name }} </div>
              <div class="col-12 col-sm-8 col-md-4 col-lg-4" >{{ obj.posted_date}} </div>
            </div>
           {% endfor %}
    </div>

  </div>

   <nav aria-label="Page navigation example">
       <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?{% query_string request page_obj.previous_page_number %}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    
                </li>
            
            {% endif %}

            {% for page in paginator.page_range %}
           
                {% if page %}
                    <li {% if page == page_obj.number %} class=""page-item""{% endif %}>
                    
                        <a class="page-link" href="?{% query_string request page %}">{{ page }}</a>
                    
                    </li>
                {% else %}
                    <li class="disabled"><a href="#">(省略)</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?{% query_string request page_obj.next_page_number %}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>

    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?{% query_string request page_obj.next_page_number %}">previous</a></li>
            {% endif %}
            {% for link_page in page_obj.pages %}
                {% if link_page %}
                    {% if link_page == page_obj.number %}
                        <li class="active">{{ link_page }}</li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?{% query_string request page_obj.next_page_number %}">{{ link_page }}</a></li>
                    {% endif %}
                {% else %}
                    {# 省略された部分の表示内容 #}
                    <li class="page-item" >...</li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?{% query_string request page_obj.next_page_number %}">next</a></li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}
